# https://github.com/uncrustify/uncrustify/blob/master/documentation/htdocs/config.txt

set WORD slots

eat_blanks_after_open_brace         = true
eat_blanks_before_close_brace       = true

indent_access_spec                  = -4
indent_align_assign                 = false
indent_align_paren                  = false
indent_case_brace                   = 4
indent_class                        = true
indent_col1_comment                 = true
indent_columns                      = 4
indent_comma_brace                  = -1
indent_comma_paren                  = -1
indent_cpp_lambda_only_once         = true
indent_func_call_param              = true
indent_func_class_param             = true
indent_func_ctor_var_param          = true
indent_func_def_param               = true
indent_func_proto_param             = true
indent_inside_ternary_operator      = true
indent_namespace                    = true
indent_single_after_return          = true
indent_with_tabs                    = 0

mod_enum_last_comma                 = remove
mod_full_brace_do                   = remove
mod_full_brace_for                  = remove
mod_full_brace_if                   = remove
mod_full_brace_if_chain             = 1
mod_full_brace_nl                   = 1
mod_full_brace_while                = remove
mod_infinite_loop                   = 2
mod_remove_duplicate_include        = true
mod_remove_empty_return             = true
mod_remove_extra_semicolon          = true

newlines                            = LF

nl_before_access_spec               = 2
nl_brace_catch                      = add
nl_brace_else                       = add
nl_brace_while                      = force
nl_case_colon_brace                 = add
nl_catch_brace                      = add
nl_class_brace                      = add
nl_class_leave_one_liners           = true
nl_constr_colon                     = add
nl_cpp_lambda_leave_one_liners      = true
nl_do_brace                         = add
nl_else_brace                       = add
nl_end_of_file                      = force
nl_end_of_file_min                  = 1
nl_enum_brace                       = add
nl_fcall_brace                      = add
nl_fdef_brace                       = add
nl_for_brace                        = add
nl_if_brace                         = add
nl_namespace_brace                  = add
nl_struct_brace                     = add
nl_switch_brace                     = add
nl_try_brace                        = add
nl_union_brace                      = add
nl_while_brace                      = add

pos_arith                           = lead
pos_conditional                     = lead
pos_constr_colon                    = lead_break
pos_constr_comma                    = lead_break

sp_after_byref                      = remove
sp_after_byref_func                 = remove
sp_after_class_colon                = force
sp_after_comma                      = force
sp_after_constr_colon               = force
sp_after_for_colon                  = force
sp_after_operator                   = remove
sp_after_operator_sym               = remove
sp_after_ptr_star                   = remove
sp_after_ptr_star_func              = remove
sp_angle_shift                      = remove
sp_angle_word                       = force
sp_arith                            = force
sp_assign                           = force
sp_before_byref                     = add
sp_before_byref_func                = force
sp_before_class_colon               = force
sp_before_ellipsis                  = remove
sp_before_for_colon                 = force
sp_before_ptr_star                  = force
sp_before_ptr_star_func             = force
sp_before_sparen                    = force
sp_before_unnamed_byref             = force
sp_before_unnamed_ptr_star          = force
sp_between_new_paren                = force
sp_bool                             = force
sp_byref_paren                      = remove
sp_cmt_cpp_doxygen                  = true
sp_cmt_cpp_start                    = add
sp_compare                          = force
sp_cond_colon                       = force
sp_else_brace                       = force
sp_endif_cmt                        = add
sp_permit_cpp11_shift               = true
sp_pp_concat                        = ignore
sp_try_brace                        = force
