[Desktop Entry]
Categories=Network;FileTransfer;P2P;Qt;
Exec=qbittorrent %U
GenericName=BitTorrent client
Comment=Download and share files over BitTorrent
Icon=qbittorrent
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Name=qBittorrent
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=qbittorrent



# Translations


# Translations
GenericName[ar]=العميل BitTorrent
Comment[be]=Сцягванне і раздача файлаў праз пратакол BitTorrent
GenericName[be]=BitTorrent-кліент
Name[be]=qBittorrent
Icon[be]=qbittorrent
GenericName[bg]=Торент клиент
Comment[cs]=Stahování a sdílení souborů přes síť BitTorrent
GenericName[cs]=BitTorrent klient
Name[cs]=qBittorrent
Icon[cs]=qbittorrent
GenericName[de]=BitTorren Client
Comment[el]=Λήψη και διαμοιρασμός αρχείων μέσω BitTorrent
GenericName[el]=BitTorrent πελάτης
Name[el]=qBittorrent
Icon[el]=qbittorrent
Comment[en_GB]=Download and share files over BitTorrent
GenericName[en_GB]=BitTorrent client
Name[en_GB]=qBittorrent
Icon[en_GB]=qbittorrent
Comment[es]=Descarga y comparte archivos por BitTorrent
GenericName[es]=Cliente BitTorrent
Name[es]=qBittorrent
Icon[es]=qbittorrent
Comment[eu]=Jeitsi eta elkarbanatu agiriak BitTorrent-en
GenericName[eu]=BitTorrent bezeroa
Name[eu]=qBittorrent
Icon[eu]=qbittorrent
Comment[fi]=Lataa ja jaa tiedostoja BitTorrentia käyttäen
GenericName[fi]=BitTorrent-ohjelma
Name[fi]=qBittorrent
Icon[fi]=qbittorrent
Comment[fr]=Télécharger et partager des fichiers avec BitTorrent
GenericName[fr]=Client BitTorrent
Comment[gl]=Descargue e comparta ficheiros co protocolo BitTorrent
GenericName[gl]=Cliente BitTorrent
Name[gl]=qBittorrent
Icon[gl]=qbittorrent
GenericName[hr]=BitTorrent klijent
GenericName[hu]=BitTorrent kliens
Comment[it]=Client BitTorrent per il download di file via internet
GenericName[it]=Client BitTorrent
Name[it]=qBittorrent
Icon[it]=qbittorrent
Comment[ja]=BitTorrent でファイルをダウンロードおよび共有します
GenericName[ja]=BitTorrent クライアント
Name[ja]=qBittorrent
Icon[ja]=qbittorrent
GenericName[ko]=비토렌트 클라이언트
Name[ko]=큐비토런트
GenericName[zh]=BitTorrent之用户
Comment[lt]=Atsisiųskite bei dalinkitės failais BitTorrent tinkle
GenericName[lt]=BitTorrent klientas
Name[lt]=qBittorrent
Icon[lt]=qbittorrent
Comment[nb]=Last ned og del filer over BitTorrent
GenericName[nb]=BitTorrent-klient
Name[nb]=qBittorrent
Icon[nb]=qbittorrent
GenericName[nl]=BitTorrent-cliënt
Comment[pl]=Dzielenie się plikami przez BitTorrent
GenericName[pl]=Klient BitTorrent
Name[pl]=qBittorrent
Icon[pl]=qbittorrent
Comment[pt]=Transferir e partilhar ficheiros por BitTorrent
GenericName[pt]=Aplicação BitTorrent
Name[pt]=qBittorrent
Icon[pt]=qbittorrent
Comment[pt_BR]=Baixe e compartilhe arquivos através do qBittorrent
GenericName[pt_BR]=Cliente BitTorrent
Name[pt_BR]=qBittorrent
Icon[pt_BR]=qbittorrent
Comment[ro]=Descărcați  și partajați fișiere prin BitTorrent
GenericName[ro]=Client BitTorrent
Name[ro]=qBittorrent
Icon[ro]=qbittorrent
Comment[ru]=Скачивайте и делитесь файлами с помощью BitTorrent
GenericName[ru]=клиент BitTorrent
Name[ru]=qBittorrent
Icon[ru]=qbittorrent
GenericName[sk]=Klient siete BitTorrent
GenericName[sr]=BitTorrent-клијент
Comment[sv]=Hämta och dela filer över BitTorrent
GenericName[sv]=BitTorrent-klient
Name[sv]=qBittorrent
Icon[sv]=qbittorrent
GenericName[tr]=BitTorrent istemcisi
Comment[uk]=Завантажувати і обмінюватися файлами через BitTorrent
GenericName[uk]=BitTorrent-клієнт
Name[uk]=qBittorrent
Icon[uk]=qbittorrent
Comment[vi]=Tải về và chia sẻ các tập tin thông qua BitTorrent
GenericName[vi]=Máy trạm dạng BitTorrent
Name[vi]=qBittorrent
Icon[vi]=qbittorrent
Comment[zh_TW]=經由 BitTorrent 下載並分享檔案
GenericName[zh_TW]=BitTorrent 客戶端
Name[zh_TW]=qBittorrent
Icon[zh_TW]=qbittorrent
Comment[en_AU]=Download and share files over BitTorrent
GenericName[en_AU]=BitTorrent client
Name[en_AU]=qBittorrent
Icon[en_AU]=qbittorrent
