<div class="toolbarTabs">
    <ul id="aboutTabs" class="tab-menu">
        <li id="aboutAboutLink" class="selected"><a class="qbt-translatable" data-i18n="About">About</a></li>
        <li id="aboutAuthorLink"><a class="qbt-translatable" data-i18n="Authors">Authors</a></li>
        <li id="aboutSpecialThanksLink"><a class="qbt-translatable" data-i18n="Special Thanks">Special Thanks</a></li>
        <li id="aboutTranslatorsLink"><a class="qbt-translatable" data-i18n="Translators">Translators</a></li>
        <li id="aboutLicenseLink"><a class="qbt-translatable" data-i18n="License">License</a></li>
        <li id="aboutSoftwareUsedLink"><a class="qbt-translatable" data-i18n="Software Used">Software Used</a></li>
    </ul>
    <div class="clear"></div>
</div>

<script>
    'use strict';

    (function() {
        MochaUI.initializeTabs('aboutTabs');

        $('aboutAboutLink').addEvent('click', function() {
            $$('.aboutTabContent').addClass('invisible');
            $('aboutAboutContent').removeClass('invisible');
        });

        $('aboutAuthorLink').addEvent('click', function() {
            $$('.aboutTabContent').addClass('invisible');
            $('aboutAuthorContent').removeClass('invisible');
        });

        $('aboutSpecialThanksLink').addEvent('click', function() {
            $$('.aboutTabContent').addClass('invisible');
            $('aboutSpecialThanksContent').removeClass('invisible');
        });

        $('aboutTranslatorsLink').addEvent('click', function() {
            $$('.aboutTabContent').addClass('invisible');
            $('aboutTranslatorsContent').removeClass('invisible');
        });

        $('aboutLicenseLink').addEvent('click', function() {
            $$('.aboutTabContent').addClass('invisible');
            $('aboutLicenseContent').removeClass('invisible');
        });

        $('aboutSoftwareUsedLink').addEvent('click', function() {
            $$('.aboutTabContent').addClass('invisible');
            $('aboutSoftwareUsedContent').removeClass('invisible');
        });
    })();
</script>
