<div class="toolbarTabs">
    <ul id="aboutTabs" class="tab-menu">
        <li id="aboutAboutLink" class="selected"><a>QBT_TR(About)QBT_TR[CONTEXT=AboutDialog]</a></li>
        <li id="aboutAuthorLink"><a>QBT_TR(Authors)QBT_TR[CONTEXT=AboutDialog]</a></li>
        <li id="aboutSpecialThanksLink"><a>QBT_TR(Special Thanks)QBT_TR[CONTEXT=AboutDialog]</a></li>
        <li id="aboutTranslatorsLink"><a>QBT_TR(Translators)QBT_TR[CONTEXT=AboutDialog]</a></li>
        <li id="aboutLicenseLink"><a>QBT_TR(License)QBT_TR[CONTEXT=AboutDialog]</a></li>
        <li id="aboutSoftwareUsedLink"><a>QBT_TR(Software Used)QBT_TR[CONTEXT=AboutDialog]</a></li>
    </ul>
    <div class="clear"></div>
</div>

<script>
    "use strict";

    (() => {
        MochaUI.initializeTabs("aboutTabs");

        $("aboutAboutLink").addEventListener("click", () => {
            Array.prototype.forEach.call(document.querySelectorAll(".aboutTabContent"), (tab => tab.classList.add("invisible")));
            $("aboutAboutContent").classList.remove("invisible");
        });

        $("aboutAuthorLink").addEventListener("click", () => {
            Array.prototype.forEach.call(document.querySelectorAll(".aboutTabContent"), (tab => tab.classList.add("invisible")));
            $("aboutAuthorContent").classList.remove("invisible");
        });

        $("aboutSpecialThanksLink").addEventListener("click", () => {
            Array.prototype.forEach.call(document.querySelectorAll(".aboutTabContent"), (tab => tab.classList.add("invisible")));
            $("aboutSpecialThanksContent").classList.remove("invisible");
        });

        $("aboutTranslatorsLink").addEventListener("click", () => {
            Array.prototype.forEach.call(document.querySelectorAll(".aboutTabContent"), (tab => tab.classList.add("invisible")));
            $("aboutTranslatorsContent").classList.remove("invisible");
        });

        $("aboutLicenseLink").addEventListener("click", () => {
            Array.prototype.forEach.call(document.querySelectorAll(".aboutTabContent"), (tab => tab.classList.add("invisible")));
            $("aboutLicenseContent").classList.remove("invisible");
        });

        $("aboutSoftwareUsedLink").addEventListener("click", () => {
            Array.prototype.forEach.call(document.querySelectorAll(".aboutTabContent"), (tab => tab.classList.add("invisible")));
            $("aboutSoftwareUsedContent").classList.remove("invisible");
        });
    })();
</script>
