<div class="filterWrapper">
    <span class="filterTitle" onclick="toggleFilterDisplay('status');">
        <img src="images/go-down.svg" class="qbt-translatable" data-i18n="[alt]Collapse/expand" alt="Collapse/expand" class="qbt-translatable" data-i18n="Status">Status
    </span>
    <ul class="filterList" id="statusFilterList">
        <li id="all_filter"><a href="#" onclick="setFilter('all');return false;"><img src="images/filter-all.svg" alt="All" / class="qbt-translatable" data-i18n="All (0)">All (0)</a></li>
        <li id="downloading_filter"><a href="#" onclick="setFilter('downloading');return false;"><img src="images/downloading.svg" alt="Downloading" / class="qbt-translatable" data-i18n="Downloading (0)">Downloading (0)</a></li>
        <li id="seeding_filter"><a href="#" onclick="setFilter('seeding');return false;"><img src="images/upload.svg" alt="Seeding" / class="qbt-translatable" data-i18n="Seeding (0)">Seeding (0)</a></li>
        <li id="completed_filter"><a href="#" onclick="setFilter('completed');return false;"><img src="images/checked-completed.svg" alt="Completed" / class="qbt-translatable" data-i18n="Completed (0)">Completed (0)</a></li>
        <li id="resumed_filter"><a href="#" onclick="setFilter('resumed');return false;"><img src="images/torrent-start.svg" alt="Resumed" / class="qbt-translatable" data-i18n="Resumed (0)">Resumed (0)</a></li>
        <li id="paused_filter"><a href="#" onclick="setFilter('paused');return false;"><img src="images/stopped.svg" alt="Paused" / class="qbt-translatable" data-i18n="Paused (0)">Paused (0)</a></li>
        <li id="active_filter"><a href="#" onclick="setFilter('active');return false;"><img src="images/filter-active.svg" alt="Active" / class="qbt-translatable" data-i18n="Active (0)">Active (0)</a></li>
        <li id="inactive_filter"><a href="#" onclick="setFilter('inactive');return false;"><img src="images/filter-inactive.svg" alt="Inactive" / class="qbt-translatable" data-i18n="Inactive (0)">Inactive (0)</a></li>
        <li id="stalled_filter"><a href="#" onclick="setFilter('stalled');return false;"><img src="images/filter-stalled.svg" alt="Stalled" / class="qbt-translatable" data-i18n="Stalled (0)">Stalled (0)</a></li>
        <li id="stalled_uploading_filter"><a href="#" onclick="setFilter('stalled_uploading');return false;"><img src="images/stalledUP.svg" alt="Stalled Uploading" / class="qbt-translatable" data-i18n="Stalled Uploading (0)">Stalled Uploading (0)</a></li>
        <li id="stalled_downloading_filter"><a href="#" onclick="setFilter('stalled_downloading');return false;"><img src="images/stalledDL.svg" alt="Stalled Downloading" / class="qbt-translatable" data-i18n="Stalled Downloading (0)">Stalled Downloading (0)</a></li>
        <li id="checking_filter"><a href="#" onclick="setFilter('checking'); return false;"><img src="images/force-recheck.svg" alt="Checking" / class="qbt-translatable" data-i18n="Checking (0)">Checking (0)</a></li>
        <li id="moving_filter"><a href="#" onclick="setFilter('moving'); return false;"><img src="images/set-location.svg" alt="Moving" / class="qbt-translatable" data-i18n="Moving (0)">Moving (0)</a></li>
        <li id="errored_filter"><a href="#" onclick="setFilter('errored');return false;"><img src="images/error.svg" alt="Errored" / class="qbt-translatable" data-i18n="Errored (0)">Errored (0)</a></li>
    </ul>
</div>
<div class="filterWrapper">
    <span class="filterTitle" onclick="toggleFilterDisplay('category');">
        <img src="images/go-down.svg" class="qbt-translatable" data-i18n="[alt]Collapse/expand" alt="Collapse/expand" class="qbt-translatable" data-i18n="Categories">Categories
    </span>
    <ul class="filterList" id="categoryFilterList">
    </ul>
</div>
<div class="filterWrapper">
    <span class="filterTitle" onclick="toggleFilterDisplay('tag');">
        <img src="images/go-down.svg" class="qbt-translatable" data-i18n="[alt]Collapse/expand" alt="Collapse/expand" class="qbt-translatable" data-i18n="Tags">Tags
    </span>
    <ul class="filterList" id="tagFilterList">
    </ul>
</div>
<div class="filterWrapper">
    <span class="filterTitle" onclick="toggleFilterDisplay('tracker');">
        <img src="images/go-down.svg" class="qbt-translatable" data-i18n="[alt]Collapse/expand" alt="Collapse/expand" class="qbt-translatable" data-i18n="Trackers">Trackers
    </span>
    <ul class="filterList" id="trackerFilterList">
    </ul>
</div>

<script>
    'use strict';

    if (window.qBittorrent === undefined) {
        window.qBittorrent = {};
    }

    window.qBittorrent.Filters = (function() {
        const exports = function() {
            return {
                categoriesFilterContextMenu: categoriesFilterContextMenu,
                tagsFilterContextMenu: tagsFilterContextMenu,
                trackersFilterContextMenu: trackersFilterContextMenu
            };
        };

        const categoriesFilterContextMenu = new window.qBittorrent.ContextMenu.CategoriesFilterContextMenu({
            targets: '.categoriesFilterContextMenuTarget',
            menu: 'categoriesFilterMenu',
            actions: {
                createCategory: function(element, ref) {
                    createCategoryFN();
                },
                createSubcategory: function(element, ref) {
                    createSubcategoryFN(Number(element.id));
                },
                editCategory: function(element, ref) {
                    editCategoryFN(Number(element.id));
                },
                deleteCategory: function(element, ref) {
                    removeCategoryFN(Number(element.id));
                },
                deleteUnusedCategories: function(element, ref) {
                    deleteUnusedCategoriesFN();
                },
                startTorrentsByCategory: function(element, ref) {
                    startTorrentsByCategoryFN(Number(element.id));
                },
                pauseTorrentsByCategory: function(element, ref) {
                    pauseTorrentsByCategoryFN(Number(element.id));
                },
                deleteTorrentsByCategory: function(element, ref) {
                    deleteTorrentsByCategoryFN(Number(element.id));
                }
            },
            offsets: {
                x: -15,
                y: 2
            },
            onShow: function() {
                this.options.element.firstChild.click();
            }
        });

        const tagsFilterContextMenu = new window.qBittorrent.ContextMenu.TagsFilterContextMenu({
            targets: '.tagsFilterContextMenuTarget',
            menu: 'tagsFilterMenu',
            actions: {
                createTag: function(element, ref) {
                    createTagFN();
                },
                deleteTag: function(element, ref) {
                    removeTagFN(Number(element.id));
                },
                deleteUnusedTags: function(element, ref) {
                    deleteUnusedTagsFN();
                },
                startTorrentsByTag: function(element, ref) {
                    startTorrentsByTagFN(Number(element.id));
                },
                pauseTorrentsByTag: function(element, ref) {
                    pauseTorrentsByTagFN(Number(element.id));
                },
                deleteTorrentsByTag: function(element, ref) {
                    deleteTorrentsByTagFN(Number(element.id));
                }
            },
            offsets: {
                x: -15,
                y: 2
            },
            onShow: function() {
                this.options.element.firstChild.click();
            }
        });

        const trackersFilterContextMenu = new window.qBittorrent.ContextMenu.ContextMenu({
            targets: '.trackersFilterContextMenuTarget',
            menu: 'trackersFilterMenu',
            actions: {
                resumeTorrentsByTracker: function(element, ref) {
                    resumeTorrentsByTrackerFN(element.id);
                },
                pauseTorrentsByTracker: function(element, ref) {
                    pauseTorrentsByTrackerFN(element.id);
                },
                deleteTorrentsByTracker: function(element, ref) {
                    deleteTorrentsByTrackerFN(element.id);
                }
            },
            offsets: {
                x: -15,
                y: 2
            },
            onShow: function() {
                this.options.element.firstChild.click();
            }
        });

        if (LocalPreferences.get('filter_status_collapsed') === "true")
            toggleFilterDisplay('status');

        if (LocalPreferences.get('filter_category_collapsed') === "true")
            toggleFilterDisplay('category');

        if (LocalPreferences.get('filter_tag_collapsed') === "true")
            toggleFilterDisplay('tag');

        if (LocalPreferences.get('filter_tracker_collapsed') === "true")
            toggleFilterDisplay('tracker');

        return exports();
    })();

    Object.freeze(window.qBittorrent.Filters);
</script>
