<style>
    #searchKeywords {
        width: 300px;
        padding: 1px 5px 1px 2em;
        background-image: url("../images/edit-find.svg");
        background-repeat: no-repeat;
        background-size: 1.5em;
        background-position: left;
        margin-left: 20px;
    }

    #logLevelSelect {
        width: 160px;
    }

    #logSearchSummary {
        height: 30px;
        overflow: auto;
    }

    .logNormal {
        color: #80766e;
    }

    .logInfo {
        color: #1781b5;
    }

    .logWarning {
        color: #f97d1c;
    }

    .logCritical {
        color: #ee3f4d;
    }

</style>

<div id="searchResults">
    <div style="overflow: hidden; height: 70px;">
        <div style="margin: 20px 0; height: 30px;">

            <label for="logLevelSelect" style="font-weight: bold;margin-right: 10px;">QBT_TR(Log Level Filter:)QBT_TR[CONTEXT=ExecutionLogWidget]</label>
            <select id="logLevelSelect" class="logLevelSelect" onchange="window.qBittorrent.Logs.logLevelSelected()">
                <option value="0">QBT_TR(All Messages)QBT_TR[CONTEXT=MainWindow]</option>
                <option value="1">QBT_TR(Normal Messages)QBT_TR[CONTEXT=MainWindow]</option>
                <option value="2">QBT_TR(Information Messages)QBT_TR[CONTEXT=MainWindow]</option>
                <option value="4">QBT_TR(Warning Messages)QBT_TR[CONTEXT=MainWindow]</option>
                <option value="8">QBT_TR(Critical Messages)QBT_TR[CONTEXT=MainWindow]</option>
            </select>

            <input type="text" id="searchKeywords" onkeyup="window.qBittorrent.Logs.logSearchPatternChanged()" class="logInputField" placeholder="QBT_TR(Search)QBT_TR[CONTEXT=ExecutionLogWidget]" autocorrect="off" autocapitalize="none" />

            <button title="Clear input" style="display: inline-block;height: 24px;padding: 0 .2em;margin-left: 0.3em;font-weight: bold;" onclick="javascript:document.querySelector('#searchKeywords').value='';window.qBittorrent.Logs.logSearchPatternChanged();">QBT_TR(Clear)QBT_TR[CONTEXT=ExecutionLogWidget]</button>

        </div>
    </div>

    <div id="logSearchSummary">
        <span>QBT_TR(Results (showing)QBT_TR[CONTEXT=ExecutionLogWidget] <span id="numLogResultsVisible" class="numSearchResults">0</span> QBT_TR(out of)QBT_TR[CONTEXT=ExecutionLogWidget] <span id="numLogResultsTotal" class="numSearchResults">0</span>):</span>
    </div>

    <div id="searchResultsTableContainer">
        <div id="logResultsTableFixedHeaderDiv" class="dynamicTableFixedHeaderDiv">
            <table class="dynamicTable unselectable" style="position:relative;">
                <thead>
                    <tr class=""></tr>
                </thead>
            </table>
        </div>
        <div id="logResultsTableDiv" class="dynamicTableDiv">
            <table class="dynamicTable">
                <thead>
                    <tr class="dynamicTableHeader"></tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

</div>

<script>
    'use strict';

    if (window.qBittorrent === undefined) {
        window.qBittorrent = {};
    }

    window.qBittorrent.Logs = (() => {
        const exports = () => {
            return {
                init: init,
                unload: unload,
                load: load,
                loadLogsResultsData: loadLogsResultsData,
                getLogsSearchPattern: getLogsSearchPattern,
                getSelectedLogLevels: getSelectedLogLevels,
                logLevelSelected: logLevelSelected,
                logSearchPatternChanged: logSearchPatternChanged,
                logMainLogTable: logMainLogTable,
            };
        };

        let logMainLogTable = new window.qBittorrent.DynamicTable.LogsTable();

        let loadLogsResultsTimer;
        let logsSearchPattern = "";
        let logLevel = "";
        let logsRequestCount = 0;
        let selectedLogLevels = "";
        let isFilterUpdating = false;
        let last_known_id = -1;

        const logListContextMenu = new window.qBittorrent.ContextMenu.ContextMenu({
            targets: 'tr.logTableRow',
            menu: 'logTableMenu'
        });

        const init = function() {
            logsSearchPattern = $('searchKeywords').getProperty('value').trim();
            // load "Search in" preference from local storage
            $('searchKeywords').set('value', localStorage.getItem('keywords'));

            unload();
            logMainLogTable.setup('logResultsTableDiv', 'logResultsTableFixedHeaderDiv', logListContextMenu);
            load();
        };

        const unload = () => {
            clearTimeout(loadLogsResultsTimer);
        };

        const load = () => {
            loadWithInterval(getSyncMainDataInterval());
        };

        const loadWithInterval = (interval) => {
            clearTimeout(loadLogsResultsTimer);
            loadLogsResultsTimer = loadLogsResultsData.delay(interval);
        };

        const getLogsSearchPattern = () => {
            return $('searchKeywords').getProperty('value').trim();
        };

        const getSelectedLogLevels = () => {
            return parseInt($("logLevelSelect").get("value"));
        };

        const logLevelSelected = function() {
            selectedLogLevels = getSelectedLogLevels();
            logSearchFilterChanged();
        };

        const logSearchPatternChanged = function() {
            logsSearchPattern = getLogsSearchPattern();
            logSearchFilterChanged();
        };

        const logSearchFilterChanged = function() {
            isFilterUpdating = true;
            logMainLogTable.updateTable();
            $('numLogResultsVisible').set('html', logMainLogTable.getFilteredAndSortedRows().length);
            isFilterUpdating = false;
        };

        const loadLogsResultsData = function() {
            if ($("logsTabColumn").hasClass('invisible') === true) {
                return;
            }
            let searchResultsRowId = 0;
            let normalLevel = true; //1
            let infoLevel = true; //2
            let warningLevel = true; //4
            let criticalLevel = true; //8
            //always return all levels, we can filter use dynamicTable.js, not http API

            const url = new URI('api/v2/log/main');
            new Request.JSON({
                url: url,
                noCache: true,
                method: 'get',
                data: {
                    last_known_id: last_known_id,
                    normal: normalLevel,
                    info: infoLevel,
                    warning: warningLevel,
                    critical: criticalLevel,
                },
                onFailure: function(response) {
                    if (response.status === 400) {
                        // bad params. search id is invalid
                        // resetSearchState();
                    }
                    else {
                        // slow load
                        loadWithInterval(3000);
                    }
                },
                onSuccess: function(response) {
                    $('error_div').set('html', '');

                    if (localStorage.getItem('qb_webui_logs_debug')) {
                        console.log('logs req#%d onSuccess: get response success, last_known_id=%d len=%d', logsRequestCount, last_known_id, response.length);
                    }

                    if (response.length > 0) {
                        let results = response;
                        for (let i = 0; i < results.length; ++i) {
                            let result = results[i];
                            let row = {
                                rowId: searchResultsRowId,
                                id: result.id,
                                message: result.message,
                                timestamp: result.timestamp,
                                type: result.type,
                            };

                            last_known_id = result.id;
                            logMainLogTable.updateRowData(row);
                            ++searchResultsRowId;
                        }

                        $('numLogResultsVisible').set('html', logMainLogTable.getFilteredAndSortedRows().length);
                        $('numLogResultsTotal').set('html', logMainLogTable.getRowIds().length);

                        logMainLogTable.updateTable();
                        logMainLogTable.altRow();
                    }

                    let showLogs = localStorage.getItem('qb_webui_show_logs') !== "false";
                    if (!showLogs) {
                        return;
                    }
                    ++logsRequestCount;

                    load();
                }
            }).send();
        };

        return exports();
    })();
</script>
