<div class="toolbarTabs">
    <menu id="panelTabs" class="tab-menu">
        <li id="logMessageLink" class="selected">
            <a><img alt="QBT_TR(General)QBT_TR[CONTEXT=ExecutionLogWidget]" src="images/help-contents.svg" width="16" height="16">QBT_TR(General)QBT_TR[CONTEXT=ExecutionLogWidget]</a>
        </li>
        <li id="logPeerLink">
            <a><img alt="QBT_TR(Blocked IPs)QBT_TR[CONTEXT=ExecutionLogWidget]" src="images/ip-blocked.svg" width="16" height="16">QBT_TR(Blocked IPs)QBT_TR[CONTEXT=ExecutionLogWidget]</a>
        </li>
    </menu>
    <div class="clear"></div>
</div>
