<!-- preferences -->
<div class="toolbarTabs">
    <ul id="preferencesTabs" class="tab-menu">
        <li id="PrefBehaviorLink" class="selected"><a class="qbt-translatable" data-i18n="Behavior">Behavior</a></li>
        <li id="PrefDownloadsLink"><a class="qbt-translatable" data-i18n="Downloads">Downloads</a></li>
        <li id="PrefConnectionLink"><a class="qbt-translatable" data-i18n="Connection">Connection</a></li>
        <li id="PrefSpeedLink"><a class="qbt-translatable" data-i18n="Speed">Speed</a></li>
        <li id="PrefBittorrentLink"><a class="qbt-translatable" data-i18n="BitTorrent">BitTorrent</a></li>
        <li id="PrefRSSLink"><a class="qbt-translatable" data-i18n="RSS">RSS</a></li>
        <li id="PrefWebUILink"><a class="qbt-translatable" data-i18n="WebUI">WebUI</a></li>
        <li id="PrefAdvancedLink"><a class="qbt-translatable" data-i18n="Advanced">Advanced</a></li>
    </ul>
    <div class="clear"></div>
</div>

<script>
    'use strict';

    (function() {
        // Tabs
        MochaUI.initializeTabs('preferencesTabs');

        $('PrefBehaviorLink').addEvent('click', function(e) {
            $$('.PrefTab').addClass('invisible');
            $('BehaviorTab').removeClass('invisible');
        });
        $('PrefDownloadsLink').addEvent('click', function(e) {
            $$('.PrefTab').addClass('invisible');
            $('DownloadsTab').removeClass('invisible');
        });
        $('PrefConnectionLink').addEvent('click', function(e) {
            $$('.PrefTab').addClass('invisible');
            $('ConnectionTab').removeClass('invisible');
        });
        $('PrefSpeedLink').addEvent('click', function(e) {
            $$('.PrefTab').addClass('invisible');
            $('SpeedTab').removeClass('invisible');
        });
        $('PrefBittorrentLink').addEvent('click', function(e) {
            $$('.PrefTab').addClass('invisible');
            $('BittorrentTab').removeClass('invisible');
        });
        $('PrefRSSLink').addEvent('click', function(e) {
            $$('.PrefTab').addClass('invisible');
            $('RSSTab').removeClass('invisible');
        });
        $('PrefWebUILink').addEvent('click', function(e) {
            $$('.PrefTab').addClass('invisible');
            $('WebUITab').removeClass('invisible');
        });
        $('PrefAdvancedLink').addEvent('click', function(e) {
            $$('.PrefTab').addClass('invisible');
            $('AdvancedTab').removeClass('invisible');
        });
    })();
</script>
