<div class="toolbarTabs">
    <div id="torrentFilesFilterToolbar" class="invisible">
        <input type="text" id="torrentFilesFilterInput" class="qbt-translatable" data-i18n="[placeholder]Filter files..." placeholder="Filter files..." autocorrect="off" autocapitalize="none" />
    </div>
    <ul id="propertiesTabs" class="tab-menu">
        <li id="PropGeneralLink" class="selected"><a class="qbt-translatable" data-i18n="General">General</a></li>
        <li id="PropTrackersLink"><a class="qbt-translatable" data-i18n="Trackers">Trackers</a></li>
        <li id="PropPeersLink"><a class="qbt-translatable" data-i18n="Peers">Peers</a></li>
        <li id="PropWebSeedsLink"><a class="qbt-translatable" data-i18n="HTTP Sources">HTTP Sources</a></li>
        <li id="PropFilesLink"><a class="qbt-translatable" data-i18n="Content">Content</a></li>
    </ul>
    <div class="clear"></div>
</div>
