<div id="statisticsContent">
    <h3 class="qbt-translatable" data-i18n="User statistics">User statistics</h3>
    <table style="width:100%">
        <tr>
            <td class="qbt-translatable" data-i18n="All-time upload:">All-time upload:</td>
            <td id="AlltimeUL" class="statisticsValue"></td>
        </tr>
        <tr>
            <td class="qbt-translatable" data-i18n="All-time download:">All-time download:</td>
            <td id="AlltimeDL" class="statisticsValue"></td>
        </tr>
        <tr>
            <td class="qbt-translatable" data-i18n="All-time share ratio:">All-time share ratio:</td>
            <td id="GlobalRatio" class="statisticsValue"></td>
        </tr>
        <tr>
            <td class="qbt-translatable" data-i18n="Session waste:">Session waste:</td>
            <td id="TotalWastedSession" class="statisticsValue"></td>
        </tr>
        <tr>
            <td class="qbt-translatable" data-i18n="Connected peers:">Connected peers:</td>
            <td id="TotalPeerConnections" class="statisticsValue"></td>
        </tr>
    </table>
    <h3 class="qbt-translatable" data-i18n="Cache statistics">Cache statistics</h3>
    <table style="width:100%">
        <tr>
            <td class="qbt-translatable" data-i18n="Read cache hits:">Read cache hits:</td>
            <td id="ReadCacheHits" class="statisticsValue"></td>
        </tr>
        <tr>
            <td class="qbt-translatable" data-i18n="Total buffer size:">Total buffer size:</td>
            <td id="TotalBuffersSize" class="statisticsValue"></td>
        </tr>
    </table>
    <h3 class="qbt-translatable" data-i18n="Performance statistics">Performance statistics</h3>
    <table style="width:100%">
        <tr>
            <td class="qbt-translatable" data-i18n="Write cache overload:">Write cache overload:</td>
            <td id="WriteCacheOverload" class="statisticsValue"></td>
        </tr>
        <tr>
            <td class="qbt-translatable" data-i18n="Read cache overload:">Read cache overload:</td>
            <td id="ReadCacheOverload" class="statisticsValue"></td>
        </tr>
        <tr>
            <td class="qbt-translatable" data-i18n="Queued I/O jobs:">Queued I/O jobs:</td>
            <td id="QueuedIOJobs" class="statisticsValue"></td>
        </tr>
        <tr>
            <td class="qbt-translatable" data-i18n="Average time in queue:">Average time in queue:</td>
            <td id="AverageTimeInQueue" class="statisticsValue"></td>
        </tr>
        <tr>
            <td class="qbt-translatable" data-i18n="Total queued size:">Total queued size:</td>
            <td id="TotalQueuedSize" class="statisticsValue"></td>
        </tr>
    </table>
</div>
