Source: qbittorrent
Section: net
Priority: optional
Maintainer: Christophe Dumez <chris@qbittorrent.org>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libqt4-core (>= 4.1.0), libqt4-dev (>= 4.1.0), libqt4-gui (>= 4.1.0), rb-libtorrent (>= 0.10), libcurl3-dev
Standards-Version: 3.6.2

Package: qbittorrent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rb-libtorrent (>= 0.10), python (>= 2.3)
Description: Bittorrent client in Qt4.1 / C++
 qBittorrent is a bittorrent client programmed in C++ / Qt4.1
 using rb_libtorrent by Arvid Norberg. It aims to be a good 
 alternative to other bittorrent client out there. It is fast,
 stable and provides unicode support.
