body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    text-align: left;
}

.col {
    display: inline-block;
    vertical-align: middle;
}

.row {
    margin-bottom: 5px;
}

#main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    text-align: center;
}

.login-input {
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
}

#formplace {
    padding: 10px;
    text-align: left;
}

#error_msg {
    color: #ff0000;
    white-space: pre;
}

#loginButton {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
}

#logo img {
    height: 11em;
}
