/* Reset */

/*ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,object,iframe { margin: 0; padding: 0; }*/
a img,:link img,:visited img { border: none; }
/*table { border-collapse: collapse; border-spacing: 0; }*/
:focus { outline: none; }

/* Structure */

body {
    margin: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #555;
}

.aside {
    width: 300px;
}

.invisible {
    display: none;
}

/* Typography */

h2, h3, h4 {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

h2 {
    font-size: 14px;
    color: #555;
    font-weight: bold;
}

#mochaPage h3 {
    display: block;
    font-size: 12px;
    padding: 6px 0 6px 0;
    margin: 0 0 8px 0;
    border-bottom: 1px solid #bbb;
}

#error_div {
    color: #f00;
    font-weight: bold;
}

h4 {
    font-size: 11px;
}

a {
    color: #e60;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0 0 9px 0;
}

/* List Elements */

ul {
    list-style: outside;
    margin: 0 0 9px 16px;
}

dt {
    font-weight: bold;
}

dd {
    padding: 0 0 9px 0;
}

/* Code */

pre {
    background-color: #f6f6f6;
    color: #006600;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
    max-height: 250px;
    overflow: auto;
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid #d1d7dc;
    }

/* Dividers */

hr {
    background-color: #ddd;
    color: #ccc;
    height: 1px;
    border: 0px;
}

.vcenter {
    vertical-align: middle;
}

#urls {
    width:90%;
    height:100%;
}

#trackersUrls {
    width:90%;
    height:100%;
}

#Filters ul {
    list-style-type: none;
}

#Filters ul li {
    margin-left: -16px;
}

#Filters ul img {
    padding: 2px 4px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.selectedFilter {
    background-color: #354158;
    color: #000;
}

#properties {
    background-color: #e5e5e5;
}

a.propButton {
    border: 1px solid rgb(85, 81, 91);
    /*border-radius: 3px;*/
    padding: 2px;
    margin-left: 3px;
    margin-right: 3px;
}

a.propButton img {
    margin-bottom: -4px;
}

/* context menu specific */

#contextmenu { border:1px solid #999; padding:0; background:#eee; list-style-type:none; display:none;}
#contextmenu .separator { border-top:1px solid #999; }
#contextmenu li { margin:0; padding:0;}
#contextmenu li a { display:block; padding:5px 10px 5px 5px; font-size:12px; text-decoration:none; font-family:tahoma,arial,sans-serif; color:#000; }
#contextmenu li a:hover { background-color:#ddd; }
#contextmenu li a.disabled { color:#ccc; font-style:italic; }
#contextmenu li a.disabled:hover { background-color:#eee; }
#contextmenu li ul {
    padding: 0;
    border:1px solid #999; padding:0; background:#eee;
    list-style-type:none;
    position: absolute;
    left: -999em;
    z-index: 8000;
    margin: -29px 0 0 100%;
    width: 164px;
}
#contextmenu li ul li a {
    position: relative;
}
#contextmenu li a.arrow-right, #contextmenu li a:hover.arrow-right {
    background-image: url(../images/skin/arrow-right.gif);
    background-repeat: no-repeat;
    background-position: right center;
}
#contextmenu li:hover ul,
#contextmenu li.ieHover ul,
#contextmenu li li.ieHover ul,
#contextmenu li li li.ieHover ul,
#contextmenu li li:hover ul,
#contextmenu li li li:hover ul { /* lists nested under hovered list items */
    left: auto;
}

#contextmenu li img {
    width: 16px;
    height: 16px;
    margin-bottom: -4px;
    -ms-interpolation-mode : bicubic;
}

/* Sliders */

.slider {
    clear: both;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    width: 400px;
    margin-bottom: 15px;
}

.sliderWrapper {
    position: relative;
    font-size: 1px;
    line-height: 1px;
    height: 9px;
    width: 422px;
}

.sliderarea {
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    width: 420px;
    font-size: 1px;
    line-height: 1px;
    background: #f2f2f2 url(../images/skin/slider-area.gif) repeat-x;
    border: 1px solid #a3a3a3;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sliderknob {
    position: absolute;
    top: 0;
    left: 0;
    height: 9px;
    width: 19px;
    font-size: 1px;
    line-height: 1px;
    background: url(../images/skin/knob.gif) no-repeat;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
}

.update {
    padding-bottom: 5px;
}

.mochaToolButton {
    margin-right: 10px;
}

/* Mocha Customization */
#mochaToolbar {
    margin-top: 5px;
}

#mochaToolbar .divider {
    background-image: url(../images/skin/toolbox-divider.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 14px;
    padding-top: 15px;
}

.MyMenuIcon {
    margin-left: -18px;
    margin-bottom: -3px;
    padding-right: 5px;
}

/* Tri-state checkbox */

label.tristate {
    background: url(../images/3-state-checkbox.gif) 0 0 no-repeat;
    display: block;
    float: left;
    height: 13px;
    margin: .15em 8px 5px 0px;
    overflow: hidden;
    text-indent: -999em;
    width: 13px;
}

label.checked {
    background-position: 0 -13px;
}

label.partial {
    background-position: 0 -26px;
}

fieldset.settings {
    border: solid 1px black;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 4px 4px 4px 10px;
}

fieldset.settings legend {
    margin-left: 8px;
    padding: 4px;
    font-weight: bold;
}

fieldset.settings label {
    padding: 2px;
}

fieldset.settings .leftLabelSmall {
    width: 5em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

fieldset.settings .leftLabelLarge {
    width: 14em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}

div.formRow {
    clear: left;
    display: block;
}

ul.filterList {
    margin: 0 0 0 16px;
    padding-left: 0;
}

ul.filterList a {
    display: block;
}

ul.filterList li:hover {
    background-color: #e60;
}

ul.filterList li:hover a {
    color: white;
}

#filesTable {
    line-height: 20px;
}

#trackersTable, #webseedsTable {
    line-height: 25px;
}

#addTrackersPlus {
    width: 16px;
    cursor: pointer;
    margin-bottom: -3px;
}

.torrentTable th {
    padding: 5px 10px;
}

.torrentTable td {
    padding: 0px 3px;
}

.torrentTable thead tr {
    background-color: #eee;
}

#prop_general {
    padding: 2px;
}

#watched_folders_tab {
    border-collapse: collapse;
}

#watched_folders_tab td, #watched_folders_tab th {
    padding: 2px 4px;
    border: 1px solid black;
}

/*
 * Workaround to prevent the transfer list from
 * disappearing when zooming in the browser.
 */
#filtersColumn_handle {
    margin-left: -1px;
}

#error_div {
    float: left;
    font-size: 14px;
}

.combo_priority {
    font-size: 1em;
}
