

/**************************************************************

	Dynamic Table
	v 0.4

**************************************************************/

#transferList table {
	border: 1px solid #ccc;
	width: 100%;
}

#transferList th {
	background-color: #eee;
	padding: 4px;
}

#transferList tr {
	background-color: #fff;
	padding: 4px;
}

#transferList tr.alt {
	background-color: #eee;
	padding: 4px;
}

#transferList td {
	padding: 0 2px;
}

#transferList tr.selected {
	background-color: #354158;
	color: #fff;
}

#transferList tr.over {
	background-color: #ee6600;
	color: #fff;
	cursor: pointer;
}
