
.toolbarTabs {	
	padding: 0 5px 2px 2px;
	background: url(../images/skin/tabs.gif) repeat-x;
	background-position: left -70px;
	overflow: visible;
}

.mootabs_title {
  padding-top: 1px;
	list-style:	none;
	margin: 0;
	padding: 0;
	line-height: 16px;
	font-size: 11px;
}

.mootabs_title li {
	display: block;
	float: left;
	margin:	0 0 5px 0;
	cursor: pointer;	
	background: url(../images/skin/tabs.gif) repeat-x;
	background-position: left -35px;
	
}

.mootabs_title li.active {
	background: url(../images/skin/tabs.gif) repeat-x;
	background-position: left 0;
}

.mootabs_title li a {
	display: block;
	margin-left: 8px;
	padding: 6px 16px 5px 10px;
	text-align: center;
	font-weight: normal;
	color: #141414;
	background: url(../images/skin/tabs.gif) repeat-x;
	background-position: right -35px;	
}

.mootabs_title li.active a {
	color: #141414;
	font-weight: bold;	
	background: url(../images/skin/tabs.gif) repeat-x;
	background-position: right 0;
}

.mootabs_panel {
	display: none;
	background-color: #ddd;
	position: relative;
	width: 100%;
	top: -1px;
	clear: both;
	overflow: auto;
	
}

.mootabs_panel.active {
	background-color: #e6e6e6;
	display: block;
}