
.mootabs_title {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 24px;
}

.mootabs_title li {
	float: left;
	background-color: #ddd;
	padding: 2px 8px 2px 8px;
	margin-right: 2px;
	cursor: pointer;
	height: 24px;
	
}

.mootabs_title li.active {
	background-color: #e6e6e6;
}

.mootabs_panel {
	display: none;
	background-color: #ddd;
	position: relative;
	width: 100%;
	top: -1px;
	clear: both;
	overflow: auto;
	
}

.mootabs_panel.active {
	background-color: #e6e6e6;
	display: block;
}