/* Reset */

ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,object,iframe { margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: none; }

/* Structure */

body {
	margin: 0;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #555;	
}

.aside {
	width: 300px;
}

.invisible {
	display: none;
}

/* Typography */
	
h2, h3, h4 {
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 12px;
	font-weight: bold;
	color: #333;	
}
	
h2 {
	font-size: 14px;
	color: #555;
	font-weight: bold;	
}
	
#mochaPage h3 {
	display: block;
	font-size: 12px;
	padding: 6px 0 6px 0;
	margin: 0 0 8px 0;
	border-bottom: 1px solid #bbb;
}

#error_div {
	color: #f00;
	font-weight: bold;
}

h4 {
	font-size: 11px;
}
	
a {
	color: #e60;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}
	
p {
	margin: 0;
	padding: 0 0 9px 0;
}
	
/* List Elements */

ul {
	list-style: outside;
	margin: 0 0 9px 16px;
}

dt {
	font-weight: bold;
	}
	
dd {
	padding: 0 0 9px 0;
}	

/* Code */
	
pre {
	background-color: #f6f6f6;
	color: #006600;
	display: block;
	font-family: 'Courier New', Courier, monospace;
	font-size: 11px;
	max-height: 250px;
	overflow: auto;
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #d1d7dc;	
	}
	
/* Dividers */

hr {
	background-color: #ddd;
	color: #ccc;
	height: 1px;
	border: 0px;
}

.vcenter {
	vertical-align: middle;
}

#urls {
	width:90%;
	height:100%;
}

#Filters ul {
	list-style-type: none;
}

#Filters ul li {
	margin-left: -16px;
}

#Filters ul img {
	padding-left: 4px;
	padding-right: 2px;
	margin-bottom: -4px;
}

.selectedFilter {
	background-color: #354158;
	color: #000;
}

#properties {
	background-color: #e5e5e5;
}

a.propButton {
	border: 1px solid rgb(85, 81, 91);
	/*border-radius: 3px;*/
	padding: 2px;
	margin-left: 3px;
	margin-right: 3px;
}

a.propButton img {
	margin-bottom: -4px;
}

/* context menu specific */
#contextmenu	{ border:1px solid #999; padding:0; background:#eee; width:200px; list-style-type:none; display:none; }
#contextmenu .separator	{ border-top:1px solid #999; }
#contextmenu li	{ margin:0; padding:0; }
#contextmenu li a { display:block; padding:5px 10px 5px 35px; width:155px; font-size:12px; text-decoration:none; font-family:tahoma,arial,sans-serif; color:#000; background-position:8px 2px; background-repeat:no-repeat; }
#contextmenu li a:hover	{ background-color:#ddd; }
#contextmenu li a.disabled { color:#ccc; font-style:italic; }
#contextmenu li a.disabled:hover { background-color:#eee; }

/* context menu items */
#contextmenu li a.pause	{ background-image:url(../images/skin/pause22.png); }
#contextmenu li a.start	{ background-image:url(../images/skin/play22.png); }
#contextmenu li a.recheck	{ background-image:url(../images/oxygen/gear.png); }
#contextmenu li a.delete	{ background-image:url(../images/skin/delete22.png); }
#contextmenu li a.deleteHD	{ background-image:url(../images/skin/delete_perm22.png); }
