@import url("palette.css");

/**************************************************************

    Dynamic Table
    v 0.4

**************************************************************/

.dynamicTable tbody tr:nth-child(even),
.dynamicTable tbody tr.alt {
    background-color: var(--color-background-default);
}

#transferList .dynamicTable td {
    padding: 4px 2px;
}

.dynamicTable tbody tr.selected {
    background-color: var(--color-background-blue);
    color: var(--color-text-white);
}

.dynamicTable tbody tr:hover {
    background-color: var(--color-background-hover);
    color: var(--color-text-white);
}

#transferList tr:hover {
    cursor: pointer;
}

#transferList img.stateIcon {
    height: 1.3em;
    margin-bottom: -1px;
    vertical-align: middle;
}

tr.dynamicTableHeader {
    cursor: pointer;
}

.dynamicTable {
    border-spacing: 0;
    padding: 0;
    table-layout: fixed;
    width: 1%;
}

.dynamicTable th {
    border-right: 1px solid var(--color-border-default);
    box-sizing: border-box;
    padding: 4px 2px;
    white-space: nowrap;
}

.dynamicTable td {
    padding: 4px 2px;
    white-space: nowrap;
}

.dynamicTable th,
.dynamicTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dynamicTable th.sorted {
    background-image: url("../images/go-up.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 15px;
}

.dynamicTable th.sorted.reverse {
    background-image: url("../images/go-down.svg");
}

.dynamicTable td img.flags {
    height: 1.25em;
    vertical-align: middle;
}

.dynamicTableFixedHeaderDiv {
    overflow: hidden;
}

.dynamicTableDiv {
    overflow: auto;
}

.dynamicTableDiv thead th {
    height: 0px !important;
    line-height: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
