/**************************************************************

    Dynamic Table
    v 0.4

**************************************************************/
.altRowColors tbody tr:nth-child(odd of :not(.invisible)) {
    background-color: var(--color-background-default);
}

#transferList .dynamicTable td {
    padding: 3px 2px;
}

.dynamicTableDiv table.dynamicTable tbody tr.selected {
    background-color: var(--color-background-blue);
    color: var(--color-text-white);
}

.dynamicTableDiv table.dynamicTable tbody tr:hover {
    background-color: var(--color-background-hover);
    color: var(--color-text-white);
}

#transferList tr:hover {
    cursor: pointer;
}

#transferList img.stateIcon {
    height: 1.3em;
    margin-bottom: -1px;
    vertical-align: middle;
}

tr.dynamicTableHeader {
    cursor: pointer;
}

.dynamicTable {
    border-spacing: 0;
    padding: 0;
    table-layout: fixed;
    width: 1%;
}

.dynamicTable th {
    border-right: 1px solid var(--color-border-default);
    padding: 4px 2px;
    white-space: nowrap;
}

.dynamicTable tr:is(:hover, .selected) img:not(.flags) {
    filter: var(--color-icon-hover);
}

.dynamicTable td {
    padding: 4px 2px;
    white-space: nowrap;
}

.dynamicTable th,
.dynamicTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dynamicTable th.sorted {
    background-image: url("../images/go-up.svg");
    background-position: right 3px center;
    background-repeat: no-repeat;
    background-size: 12px;
}

.dynamicTable th.sorted.reverse {
    background-image: url("../images/go-down.svg");
}

.dynamicTable span.flags {
    background: left center / contain no-repeat;
    margin-left: 2px;
    padding-left: 25px;
}

.dynamicTableFixedHeaderDiv {
    overflow: hidden;
}

#propertiesPanel .dynamicTableFixedHeaderDiv,
#torrentsTableFixedHeaderDiv {
    border-bottom: 1px solid var(--color-border-default);
}

.dynamicTableDiv {
    overflow: auto;
}

.dynamicTableDiv thead th {
    height: 0px !important;
    line-height: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

#transferList {
    overflow: hidden !important; /* override for mocha inline styles */

    & #transferList_pad {
        display: flex !important;
        flex-direction: column;
        height: inherit;

        & #torrentsTableDiv {
            flex: 1;
        }
    }
}

#propertiesPanel {
    & #propertiesPanel_pad {
        height: inherit;
    }

    & .dynamicTableDiv {
        flex: 1;
    }

    & .propertiesTabContent:not(#propGeneral, .invisible) {
        display: flex;
        flex-direction: column;
        height: inherit;
    }
}

#torrentFiles {
    display: flex;
    flex-direction: column;

    & #bulkRenameFilesTableDiv {
        flex: 1;
    }
}
